In [1]:
import whyqd as _w
import numpy as np
import pandas as pd

In [2]:
schema = _w.Schema()

details = {
        "name": "Indice_developpement",
        "title": "Indice de developpement et energie renouvelable",
        "description": """
        Ces donnees presente les energies naturelles dont disposent chaque pays en fonction de leur indice de developpement humain sur deux annees
        1990 et 2005."""
}
schema = _w.Schema()
schema.set_details(**details)

In [3]:
fields = [
    {
        "name": "Country Name",
        "title": "Country Name",
        "type": "string",
        "description": "Official country names.",
        "constraints": {
            "required": True
        }
    },
    {
        "name": "HDI Category",
        "title": "HDI Category",
        "type": "string",
        "description": "Human Development Index Category derived from the HDI Rank.",
    },
    {
        "name": "Indicator Name",
        "title": "Indicator Name",
        "type": "string",
        "description": "Indicator described in the data series.",
    },
    {
        "name": "Reference",
        "title": "Reference",
        "type": "string",
        "description": "Reference to data source.",
    },
    {
        "name": "Year",
        "title": "Year",
        "type": "year",
        "description": "Year of release.",
    },
    {
        "name": "Values",
        "title": "Values",
        "type": "number",
        "description": "Value for the Year and Indicator Name.",
        "constraints": {
            "required": True
        }
    },
]
for field in fields:
    schema.set_field(**field)

In [4]:
schema.field("country_name")
{'name': 'country_name',
 'type': 'string',
 'constraints': {'required': True},
 'title': 'Country Name',
 'description': 'Official country names.'
 }
schema.field("country_name")

{'name': 'country_name',
 'type': 'string',
 'constraints': {'required': True},
 'title': 'Country Name',
 'description': 'Official country names.'}

In [5]:
directory = "EXERCICE3"
filename = "schema_json"
schema.save(directory, filename, overwrite=True)

True

In [6]:
from IPython.core.display import HTML
display(HTML("<style>pre { white-space: pre !important; }</style>"))

import numpy as np
import whyqd as _w

SCHEMA_SOURCE = "EXERCICE3schema_json.json"
DIRECTORY = "EXERCICE3"
INPUT_DATA = [ "/Users/guiteyjoviale/Documents/STAGE DCDJ/FORMATION BOYERA/databasee1.xlsx"]
method = _w.Method(SCHEMA_SOURCE, directory=DIRECTORY, input_data=INPUT_DATA)

In [7]:
print(method.print_input_data())
#method.default_morph_types
#method.default_morph_settings("CATEGORISE")

Data id: 764756fb-ff89-4277-955b-3b25dd3262f6
Original source: /Users/guiteyjoviale/Documents/STAGE DCDJ/FORMATION BOYERA/databasee1.xlsx

====  ============  ============  ============  ======================  ============  ============  ============  ================  ============  ============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =================================  =============  =============  =============  ==================  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============
  ..  Unnamed: 0      Unnamed: 1    Unnamed: 2  Unnamed: 3                Unnamed: 4    Unnamed: 5    Unnamed: 6  Share of TPESa      Unnamed: 8    Unnamed: 9    Unnamed: 10  Unnamed: 11      Unnamed: 12    Unnamed: 13    Unnamed: 14  Unnamed: 15      Unnamed: 16    Unnamed: 17    Unnamed: 18  Unnamed: 19                          Unnamed: 20    Unnamed: 21    Unnamed: 22  Unnamed: 23           Unnamed: 24    Unnamed: 25    Unnamed: 26  Unnamed: 27      Unnamed: 28    Unnamed: 29    Unnamed: 30    Unnamed: 31    Unnamed: 32    Unnamed: 33    Unnamed: 34    Unnamed: 35    Unnamed: 36    Unnamed: 37    Unnamed: 38    Unnamed: 39    Unnamed: 40    Unnamed: 41    Unnamed: 42    Unnamed: 43    Unnamed: 44
====  ============  ============  ============  ======================  ============  ============  ============  ================  ============  ============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =================================  =============  =============  =============  ==================  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============
   0  nan                    nan           nan  nan                              nan           nan           nan  Fossil fuels               nan           nan            nan  nan                      nan            nan            nan  nan                      nan            nan            nan  Renewable energyb                            nan            nan            nan  nan                           nan            nan            nan  Other                    nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan
   1  nan                    nan           nan  Total primary                    nan           nan           nan  Coalc                      nan           nan            nan  Oild                     nan            nan            nan  Natural Gas              nan            nan            nan  Hydro, solar, wind and geothermal            nan            nan            nan  Biomass and wastee            nan            nan            nan  Nuclear                  nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan
                                                energy supplya
   2  HDI rank               nan           nan  (Mt of oil equivalent)           nan           nan           nan  (%)                        nan           nan            nan  (%)                      nan            nan            nan  (%)                      nan            nan            nan  (%)                                          nan            nan            nan  (%)                           nan            nan            nan  (%)                      nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan
====  ============  ============  ============  ======================  ============  ============  ============  ================  ============  ============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =================================  =============  =============  =============  ==================  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============

In [8]:
_id = method.input_data[0]["id"]
df = method.input_dataframe(_id)
df.head(17)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Share of TPESa,Unnamed: 8,Unnamed: 9,...,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Fossil fuels,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,Total primary \nenergy supplya,NaN,NaN,NaN,Coalc,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,HDI rank,NaN,NaN,(Mt of oil equivalent),NaN,NaN,NaN,(%),NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,1990,NaN,2005,NaN,1990,NaN,2005,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,HIGH HUMAN DEVELOPMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1,Iceland,NaN,2.2,NaN,3.6,NaN,3.0,NaN,2.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2,Norway,NaN,21.5,NaN,32.1,NaN,4.0,NaN,2.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,3,Australia,NaN,87.5,NaN,122.0,NaN,40.0,NaN,44.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,4,Canada,NaN,209.4,NaN,272.0,NaN,11.6,NaN,10.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,5,Ireland,NaN,10.4,NaN,15.3,NaN,33.3,NaN,17.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,6,Sweden,NaN,47.6,NaN,52.2,NaN,6.2,NaN,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,7,Switzerland,NaN,25.0,NaN,27.2,NaN,1.4,NaN,0.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,8,Japan,NaN,444.5,NaN,530.5,NaN,17.4,NaN,21.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,9,Netherlands,NaN,66.8,NaN,81.8,NaN,13.4,NaN,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,10,France,NaN,227.8,NaN,276.0,NaN,8.9,NaN,5.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,11,Finland,NaN,29.2,NaN,35.0,NaN,18.2,NaN,14.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,12,United States,NaN,"1,927.5",NaN,"2,340.3",NaN,23.8,NaN,23.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
method.add_input_data_morph(_id,["REBASE",3])

In [10]:
rows = [int(i) for i in np.arange(185, df.index[-1]+1)]
method.add_input_data_morph(_id, ["DELETE", rows])

In [11]:
columns = [
    "HDI rank",
    "Country",
    "Total_primary_energy_supplya_(MT_of_oil_equivalent)_1990",
    "Reference 1",
    "Total_primary_energy_supplya_(MT_of_oil_equivalent)_2005",
    "Reference 2",
    "Fossil_fuels_Coalc_(%)_1990",
    "Reference 3",
    "Fossil_fuels_Coalc_(%)_2005"
    "Reference 4",
    "Fossil_fuels Oild_(%)_1990-2005",
    "Reference 5",
    "Fossil_fuels_Natural_Gas_(%)_1990-2005",
    "Reference 6",
    "Hydro,_solar,_wind_and_geothermal_(%)_1990-2005",
    "Reference 7",
    "Biomass_and_wastee_(%)_1990-2005", 
    "Reference 8",
    "Nuclear_(%)_1990-2005",
]
method.add_input_data_morph(_id, ["RENAME", columns])

In [12]:
df = method.input_dataframe(_id)
df.head()

,HDI rank,Country,Total_primary_energy_supplya_(MT_of_oil_equivalent)_1990,Reference 1,Total_primary_energy_supplya_(MT_of_oil_equivalent)_2005,Reference 2,Fossil_fuels_Coalc_(%)_1990,Reference 3,Fossil_fuels_Coalc_(%)_2005Reference 4,Fossil_fuels Oild_(%)_1990-2005,Reference 5,Fossil_fuels_Natural_Gas_(%)_1990-2005,Reference 6,"Hydro,_solar,_wind_and_geothermal_(%)_1990-2005",Reference 7,Biomass_and_wastee_(%)_1990-2005,Reference 8,Nuclear_(%)_1990-2005
4,HIGH HUMAN DEVELOPMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1,Iceland,2.2,NaN,3.6,NaN,3.0,2.7,32.6,24.6,0.0,0.0,64.5,72.6,0.0,0.1,0.0,0.0
6,2,Norway,21.5,NaN,32.1,NaN,4.0,2.4,39.8,44.1,9.2,16.1,48.5,36.6,4.8,4.1,0.0,0.0
7,3,Australia,87.5,NaN,122.0,NaN,40.0,44.5,37.1,31.1,16.9,18.9,1.5,1.2,4.5,4.3,0.0,0.0
8,4,Canada,209.4,NaN,272.0,NaN,11.6,10.3,36.9,35.8,26.1,29.6,12.2,11.5,3.9,4.6,9.3,8.8

In [13]:
df = method.input_dataframe(_id)
df.head(100)

,HDI rank,Country,Total_primary_energy_supplya_(MT_of_oil_equivalent)_1990,Reference 1,Total_primary_energy_supplya_(MT_of_oil_equivalent)_2005,Reference 2,Fossil_fuels_Coalc_(%)_1990,Reference 3,Fossil_fuels_Coalc_(%)_2005Reference 4,Fossil_fuels Oild_(%)_1990-2005,Reference 5,Fossil_fuels_Natural_Gas_(%)_1990-2005,Reference 6,"Hydro,_solar,_wind_and_geothermal_(%)_1990-2005",Reference 7,Biomass_and_wastee_(%)_1990-2005,Reference 8,Nuclear_(%)_1990-2005
4,HIGH HUMAN DEVELOPMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1,Iceland,2.2,NaN,3.6,NaN,3.0,2.7,32.6,24.6,0.0,0.0,64.5,72.6,0.0,0.1,0.0,0.0
6,2,Norway,21.5,NaN,32.1,NaN,4.0,2.4,39.8,44.1,9.2,16.1,48.5,36.6,4.8,4.1,0.0,0.0
7,3,Australia,87.5,NaN,122.0,NaN,40.0,44.5,37.1,31.1,16.9,18.9,1.5,1.2,4.5,4.3,0.0,0.0
8,4,Canada,209.4,NaN,272.0,NaN,11.6,10.3,36.9,35.8,26.1,29.6,12.2,11.5,3.9,4.6,9.3,8.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99,94,Iran (Islamic Republic of),68.8,NaN,162.5,NaN,0.9,0.7,71.9,47.5,25.4,50.5,0.8,0.9,1.0,0.5,0.0,0.0
100,95,Paraguay,3.1,NaN,4.0,NaN,..,..,..,..,..,..,NaN,NaN,..,..,..,..
101,96,Georgia,12.3,NaN,3.2,NaN,4.8,0.5,47.1,25.3,36.9,33.5,5.3,17.0,3.7,20.1,0.0,0.0
102,97,Guyana,..,NaN,..,NaN,..,..,..,..,..,..,..,..,..,..,..,..
103,98,Azerbaijan,26.0,NaN,13.8,NaN,0.3,0.0,45.2,38.6,54.7,58.7,0.2,1.9,(.),(.),0.0,0.0

In [14]:
# indices des lignes de données catégorielles
hdi_categories = ["HIGH HUMAN DEVELOPMENT", "MEDIUM HUMAN DEVELOPMENT", "LOW HUMAN DEVELOPMENT"]
rows = df[df["HDI rank"].isin(hdi_categories)].index

In [15]:
method.add_input_data_morph(_id, ["CATEGORISE", list(rows), "HDI category"])
df = method.input_dataframe(_id)
df.head()

,HDI rank,Country,Total_primary_energy_supplya_(MT_of_oil_equivalent)_1990,Reference 1,Total_primary_energy_supplya_(MT_of_oil_equivalent)_2005,Reference 2,Fossil_fuels_Coalc_(%)_1990,Reference 3,Fossil_fuels_Coalc_(%)_2005Reference 4,Fossil_fuels Oild_(%)_1990-2005,Reference 5,Fossil_fuels_Natural_Gas_(%)_1990-2005,Reference 6,"Hydro,_solar,_wind_and_geothermal_(%)_1990-2005",Reference 7,Biomass_and_wastee_(%)_1990-2005,Reference 8,Nuclear_(%)_1990-2005,HDI category
5,1,Iceland,2.2,NaN,3.6,NaN,3.0,2.7,32.6,24.6,0.0,0.0,64.5,72.6,0.0,0.1,0.0,0.0,HIGH HUMAN DEVELOPMENT
6,2,Norway,21.5,NaN,32.1,NaN,4.0,2.4,39.8,44.1,9.2,16.1,48.5,36.6,4.8,4.1,0.0,0.0,HIGH HUMAN DEVELOPMENT
7,3,Australia,87.5,NaN,122.0,NaN,40.0,44.5,37.1,31.1,16.9,18.9,1.5,1.2,4.5,4.3,0.0,0.0,HIGH HUMAN DEVELOPMENT
8,4,Canada,209.4,NaN,272.0,NaN,11.6,10.3,36.9,35.8,26.1,29.6,12.2,11.5,3.9,4.6,9.3,8.8,HIGH HUMAN DEVELOPMENT
9,5,Ireland,10.4,NaN,15.3,NaN,33.3,17.6,47.0,56.0,18.1,22.7,0.6,1.0,1.0,1.6,0.0,0.0,HIGH HUMAN DEVELOPMENT

In [16]:
# Sélectionnez toutes les colonnes à "melt"
columns = ["HDI rank",
           "Total_primary_energy_supplya_(MT_of_oil_equivalent)_1990",
           "Total_primary_energy_supplya_(MT_of_oil_equivalent)_2005",
           "Fossil_fuels_Coalc_(%)_1990",
           "Fossil_fuels_Coalc_(%)_2005",
           "Fossil_fuels Oild_(%)_1990-2005",
           "Fossil_fuels_Natural_Gas_(%)_1990-2005",
           "Hydro,_solar,_wind_and_geothermal_(%)_1990-2005",
           "Biomass_and_wastee_(%)_1990-2005", 
           "Nuclear_(%)_1990-2005",
         
          
]



method.add_input_data_morph(_id, ["MELT", columns, ["Indicator Name", "Indicator Value"]])

ValueError: Task morph `MELT` has invalid structure `['columns', 'column_names']`.

In [17]:
type(rows)

pandas.core.indexes.numeric.Int64Index

In [18]:
df = method.input_dataframe(_id)
df.head(150)

,HDI rank,Country,Total_primary_energy_supplya_(MT_of_oil_equivalent)_1990,Reference 1,Total_primary_energy_supplya_(MT_of_oil_equivalent)_2005,Reference 2,Fossil_fuels_Coalc_(%)_1990,Reference 3,Fossil_fuels_Coalc_(%)_2005Reference 4,Fossil_fuels Oild_(%)_1990-2005,Reference 5,Fossil_fuels_Natural_Gas_(%)_1990-2005,Reference 6,"Hydro,_solar,_wind_and_geothermal_(%)_1990-2005",Reference 7,Biomass_and_wastee_(%)_1990-2005,Reference 8,Nuclear_(%)_1990-2005,HDI category
5,1,Iceland,2.2,NaN,3.6,NaN,3.0,2.7,32.6,24.6,0.0,0.0,64.5,72.6,0.0,0.1,0.0,0.0,HIGH HUMAN DEVELOPMENT
6,2,Norway,21.5,NaN,32.1,NaN,4.0,2.4,39.8,44.1,9.2,16.1,48.5,36.6,4.8,4.1,0.0,0.0,HIGH HUMAN DEVELOPMENT
7,3,Australia,87.5,NaN,122.0,NaN,40.0,44.5,37.1,31.1,16.9,18.9,1.5,1.2,4.5,4.3,0.0,0.0,HIGH HUMAN DEVELOPMENT
8,4,Canada,209.4,NaN,272.0,NaN,11.6,10.3,36.9,35.8,26.1,29.6,12.2,11.5,3.9,4.6,9.3,8.8,HIGH HUMAN DEVELOPMENT
9,5,Ireland,10.4,NaN,15.3,NaN,33.3,17.6,47.0,56.0,18.1,22.7,0.6,1.0,1.0,1.6,0.0,0.0,HIGH HUMAN DEVELOPMENT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
151,146,Haiti,1.6,NaN,2.5,NaN,0.5,0.0,20.5,23.2,0.0,0.0,2.5,0.9,76.5,75.8,0.0,0.0,MEDIUM HUMAN DEVELOPMENT
152,147,Sudan,10.6,NaN,18.4,NaN,0.0,0.0,17.5,19.9,0.0,0.0,0.8,0.6,81.7,79.5,0.0,0.0,MEDIUM HUMAN DEVELOPMENT
153,148,Kenya,12.5,NaN,17.2,NaN,0.7,0.4,16.8,19.1,0.0,0.0,4.0,5.9,78.4,74.6,0.0,0.0,MEDIUM HUMAN DEVELOPMENT
154,149,Djibouti,..,NaN,..,NaN,..,..,..,..,..,..,..,..,..,..,..,..,MEDIUM HUMAN DEVELOPMENT
155,150,Timor-Leste,..,NaN,..,NaN,..,..,..,..,..,..,..,..,..,..,..,..,MEDIUM HUMAN DEVELOPMENT

In [19]:
columns = [
    "Reference 1",
    "Reference 2",
    "Reference 3",
    "Reference 4",
    "Reference 5",
    "Reference 6",
    "Reference 7",
    "Reference 8",
    
]

method.add_input_data_morph(_id, ["MELT", columns, ["Reference Name", "Reference"]])

ValueError: Task morph `MELT` has invalid structure `['columns', 'column_names']`.

In [20]:
method.add_input_data_morph(_id, ["DEBLANK"])

In [21]:
df = method.input_dataframe(_id)
df.head()

,HDI rank,Country,Total_primary_energy_supplya_(MT_of_oil_equivalent)_1990,Reference 1,Total_primary_energy_supplya_(MT_of_oil_equivalent)_2005,Reference 2,Fossil_fuels_Coalc_(%)_1990,Reference 3,Fossil_fuels_Coalc_(%)_2005Reference 4,Fossil_fuels Oild_(%)_1990-2005,Reference 5,Fossil_fuels_Natural_Gas_(%)_1990-2005,Reference 6,"Hydro,_solar,_wind_and_geothermal_(%)_1990-2005",Reference 7,Biomass_and_wastee_(%)_1990-2005,Reference 8,Nuclear_(%)_1990-2005,HDI category
5,1,Iceland,2.2,NaN,3.6,NaN,3.0,2.7,32.6,24.6,0.0,0.0,64.5,72.6,0.0,0.1,0.0,0.0,HIGH HUMAN DEVELOPMENT
6,2,Norway,21.5,NaN,32.1,NaN,4.0,2.4,39.8,44.1,9.2,16.1,48.5,36.6,4.8,4.1,0.0,0.0,HIGH HUMAN DEVELOPMENT
7,3,Australia,87.5,NaN,122.0,NaN,40.0,44.5,37.1,31.1,16.9,18.9,1.5,1.2,4.5,4.3,0.0,0.0,HIGH HUMAN DEVELOPMENT
8,4,Canada,209.4,NaN,272.0,NaN,11.6,10.3,36.9,35.8,26.1,29.6,12.2,11.5,3.9,4.6,9.3,8.8,HIGH HUMAN DEVELOPMENT
9,5,Ireland,10.4,NaN,15.3,NaN,33.3,17.6,47.0,56.0,18.1,22.7,0.6,1.0,1.0,1.6,0.0,0.0,HIGH HUMAN DEVELOPMENT

In [22]:
print(method.help("merge"))

`merge` will join, in order from right to left, your input data on a common column.

To add input data, where `input_data` is a filename, or list of filenames:

	>>> method.add_input_data(input_data)

To remove input data, where `id` is the unique id for that input data:

	>>> method.remove_input_data(id)

Prepare an `order_and_key` list, where each dict in the list has:

	{{id: input_data id, key: column_name for merge}}

Run the merge by calling (and, optionally - if you need to overwrite an existing merge - setting
`overwrite_working=True`):

	>>> method.merge(order_and_key, overwrite_working=True)

To view your existing `input_data`:

	>>> method.input_data


Data id: 764756fb-ff89-4277-955b-3b25dd3262f6
Original source: /Users/guiteyjoviale/Documents/STAGE DCDJ/FORMATION BOYERA/databasee1.xlsx

====  ============  ============  ============  ======================  ============  ============  ============  ================  ============  ============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =================================  =============  =============  =============  ==================  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============
  ..  Unnamed: 0      Unnamed: 1    Unnamed: 2  Unnamed: 3                Unnamed: 4    Unnamed: 5    Unnamed: 6  Share of TPESa      Unnamed: 8    Unnamed: 9    Unnamed: 10  Unnamed: 11      Unnamed: 12    Unnamed: 13    Unnamed: 14  Unnamed: 15      Unnamed: 16    Unnamed: 17    Unnamed: 18  Unnamed: 19                          Unnamed: 20    Unnamed: 21    Unnamed: 22  Unnamed: 23           Unnamed: 24    Unnamed: 25    Unnamed: 26  Unnamed: 27      Unnamed: 28    Unnamed: 29    Unnamed: 30    Unnamed: 31    Unnamed: 32    Unnamed: 33    Unnamed: 34    Unnamed: 35    Unnamed: 36    Unnamed: 37    Unnamed: 38    Unnamed: 39    Unnamed: 40    Unnamed: 41    Unnamed: 42    Unnamed: 43    Unnamed: 44
====  ============  ============  ============  ======================  ============  ============  ============  ================  ============  ============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =================================  =============  =============  =============  ==================  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============
   0  nan                    nan           nan  nan                              nan           nan           nan  Fossil fuels               nan           nan            nan  nan                      nan            nan            nan  nan                      nan            nan            nan  Renewable energyb                            nan            nan            nan  nan                           nan            nan            nan  Other                    nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan
   1  nan                    nan           nan  Total primary                    nan           nan           nan  Coalc                      nan           nan            nan  Oild                     nan            nan            nan  Natural Gas              nan            nan            nan  Hydro, solar, wind and geothermal            nan            nan            nan  Biomass and wastee            nan            nan            nan  Nuclear                  nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan
                                                energy supplya
   2  HDI rank               nan           nan  (Mt of oil equivalent)           nan           nan           nan  (%)                        nan           nan            nan  (%)                      nan            nan            nan  (%)                      nan            nan            nan  (%)                                          nan            nan            nan  (%)                           nan            nan            nan  (%)                      nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan
====  ============  ============  ============  ======================  ============  ============  ============  ================  ============  ============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =================================  =============  =============  =============  ==================  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============  =============


Current method status: `Ready to Merge`

In [23]:
%time method.merge(overwrite_working=True)

CPU times: user 479 ms, sys: 25.1 ms, total: 504 ms
Wall time: 736 ms

In [24]:
print(method.help("structure"))

`structure` is the core of the wrangling process and is the process where you define the actions
which must be performed to restructure your working data.

Create a list of methods of the form:

	{
		"schema_field1": ["action", "column_name1", ["action", "column_name2"]],
		"schema_field2": ["action", "column_name1", "modifier", ["action", "column_name2"]],
	}

The format for defining a `structure` is as follows::

	[action, column_name, [action, column_name]]

e.g.::

	["CATEGORISE", "+", ["ORDER", "column_1", "column_2"]]

This permits the creation of quite expressive wrangling structures from simple building
blocks.

The schema for this method consists of the following terms:

['country_name', 'hdi_category', 'indicator_name', 'reference', 'year', 'values']

The actions:

['CALCULATE', 'CATEGORISE', 'JOIN', 'NEW', 'ORDER', 'ORDER_NEW', 'ORDER_OLD', 'RENAME']

The columns from your working data:

['HDI rank', 'Country', 'Total_primary_energy_supplya_(MT_of_oil_equivalent)_1990', 'Reference 1', 'Total_primary_energy_supplya_(MT_of_oil_equivalent)_2005', 'Reference 2', 'Fossil_fuels_Coalc_(%)_1990', 'Reference 3', 'Fossil_fuels_Coalc_(%)_2005Reference 4', 'Fossil_fuels Oild_(%)_1990-2005', 'Reference 5', 'Fossil_fuels_Natural_Gas_(%)_1990-2005', 'Reference 6', 'Hydro,_solar,_wind_and_geothermal_(%)_1990-2005', 'Reference 7', 'Biomass_and_wastee_(%)_1990-2005', 'Reference 8', 'Nuclear_(%)_1990-2005', 'HDI category']


Data id: working_f7d7cf5a-ad6f-4573-8daa-95fc87c1560f
Original source: method.input_data

====  ==========  =========  ==========================================================  =============  ==========================================================  =============  =============================  =============  ========================================  =================================  =============  ========================================  =============  =================================================  =============  ==================================  =============  =======================  ======================
  ..    HDI rank  Country      Total_primary_energy_supplya_(MT_of_oil_equivalent)_1990    Reference 1    Total_primary_energy_supplya_(MT_of_oil_equivalent)_2005    Reference 2    Fossil_fuels_Coalc_(%)_1990    Reference 3    Fossil_fuels_Coalc_(%)_2005Reference 4    Fossil_fuels Oild_(%)_1990-2005    Reference 5    Fossil_fuels_Natural_Gas_(%)_1990-2005    Reference 6    Hydro,_solar,_wind_and_geothermal_(%)_1990-2005    Reference 7    Biomass_and_wastee_(%)_1990-2005    Reference 8    Nuclear_(%)_1990-2005  HDI category
====  ==========  =========  ==========================================================  =============  ==========================================================  =============  =============================  =============  ========================================  =================================  =============  ========================================  =============  =================================================  =============  ==================================  =============  =======================  ======================
   0           1  Iceland                                                           2.2            nan                                                         3.6            nan                              3            2.7                                      32.6                               24.6            0                                         0             64.5                                               72.6            0                                   0.1              0                        0  HIGH HUMAN DEVELOPMENT
   1           2  Norway                                                           21.5            nan                                                        32.1            nan                              4            2.4                                      39.8                               44.1            9.2                                      16.1           48.5                                               36.6            4.8                                 4.1              0                        0  HIGH HUMAN DEVELOPMENT
   2           3  Australia                                                        87.5            nan                                                       122              nan                             40           44.5                                      37.1                               31.1           16.9                                      18.9            1.5                                                1.2            4.5                                 4.3              0                        0  HIGH HUMAN DEVELOPMENT
====  ==========  =========  ==========================================================  =============  ==========================================================  =============  =============================  =============  ========================================  =================================  =============  ========================================  =============  =================================================  =============  ==================================  =============  =======================  ======================


Current method status: `Ready to Structure`

In [25]:
structure = {
    "indicator_name": ["RENAME", "Indicator_Name"],
    "year": ["RENAME", "year"]
    "reference": ["RENAME", "Reference"],
    "values":["RENAME","Indicator Value"],
}
method.set_structure(**structure)

SyntaxError: invalid syntax (<ipython-input-25-14ed1efe4f82>, line 4)

In [26]:
method.transform(overwrite_output=True)
FILENAME = ""
method.save(directory, filename=FILENAME, overwrite=True)

PermissionError: Current status: `Ready to Structure` - performing `transform` is not permitted.

In [27]:
method.input_data_morphs(_id)

[{'7413af9b-06f7-4d9c-bd9b-031c427856ea': ['DEBLANK']},
 {'e1ba721b-6734-4890-8c9d-0d1f75aaafb7': ['DEDUPE']},
 {'f407bb47-271d-4e37-b41b-fcb3180ecfbb': ['REBASE', [3]]},
 {'f7bd1449-c6b0-4411-b3ab-3bb0b398d954': ['DELETE',
   [185, 186, 187, 188, 189, 190, 191, 192, 193]]},
 {'0b87448c-a286-44b3-b294-d9f79460952e': ['RENAME',
   ['HDI rank',
    'Country',
    'Total_primary_energy_supplya_(MT_of_oil_equivalent)_1990',
    'Reference 1',
    'Total_primary_energy_supplya_(MT_of_oil_equivalent)_2005',
    'Reference 2',
    'Fossil_fuels_Coalc_(%)_1990',
    'Reference 3',
    'Fossil_fuels_Coalc_(%)_2005Reference 4',
    'Fossil_fuels Oild_(%)_1990-2005',
    'Reference 5',
    'Fossil_fuels_Natural_Gas_(%)_1990-2005',
    'Reference 6',
    'Hydro,_solar,_wind_and_geothermal_(%)_1990-2005',
    'Reference 7',
    'Biomass_and_wastee_(%)_1990-2005',
    'Reference 8',
    'Nuclear_(%)_1990-2005']]},
 {'4da5ee6e-a13e-41e2-8127-483f1f78db6f': ['CATEGORISE',
   [4, 75, 161],
   ['HDI category']]},
 {'8de304cf-7ac5-42d8-ba7d-654d18a27816': ['DEBLANK']}]

In [28]:
%time method.validates

ValueError: Structure: country_name

In [29]:
df = pd.read_csv("/Users/guiteyjoviale/Documents/STAGE DCDJ/FORMATION BOYERA/EXERCICE3.csv")
df.head()

FileNotFoundError: [Errno 2] File /Users/guiteyjoviale/Documents/STAGE DCDJ/FORMATION BOYERA/EXERCICE3.csv does not exist: '/Users/guiteyjoviale/Documents/STAGE DCDJ/FORMATION BOYERA/EXERCICE3.csv'

In [ ]:
#method.transform(overwrite_output=True)
FILENAME = "hdi_report_exercise"
method.save(directory, filename=FILENAME, overwrite=True)

In [ ]:
method.input_data_morphs(_id)

In [ ]:
source = "Users/guiteyjoviale/Documents/STAGE DCDJ/FORMATION BOYERA/EXERCICE3"

df = pd.read_csv(source)
df.head()
df.info()

In [ ]:
from pandas_schema import Column, Schema
from pandas_schema.validation import LeadingWhitespaceValidation, TrailingWhitespaceValidation, IsDtypeValidation, InListValidation

columns = ["HDI rank","country_name", "hdi_category", "values"]

hdi_categories = ["HIGH HUMAN DEVELOPMENT", "MEDIUM HUMAN DEVELOPMENT", "LOW HUMAN DEVELOPMENT"]

schema = Schema([
    Column("country_name", [LeadingWhitespaceValidation(), TrailingWhitespaceValidation()]),
    Column("hdi_category", [InListValidation(hdi_categories)]),
    Column("values", [IsDtypeValidation(np.dtype(float)), IsDtypeValidation(np.dtype(int))])
])

errors = schema.validate(df[columns])

print(F"Nombre d'erreurs :  {len(errors)}")

for error in errors[:10]:
    print(error)

In [ ]:
for l in method.citation.split(","):
    print(l)